@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
 }

ul.ks-cboxtags {
    list-style: none;
    padding: 10px;
}

    ul.ks-cboxtags li {
        display: inline;
    }

        ul.ks-cboxtags li label {
            display: inline-block;
            background-color: rgba(255, 255, 255, .9);
            border: 2px solid rgba(139, 139, 139, .3);
            color: #adadad;
            border-radius: 25px;
            white-space: nowrap;
            margin: 3px 0px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            transition: all .2s;
        }

        ul.ks-cboxtags li label {
            padding: 8px 10px;
            cursor: pointer;
        }

            ul.ks-cboxtags li label::before {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: 'FontAwesome';
                font-weight: 900;
                font-size: 12px;
                padding: 2px 6px 2px 2px;
                content: "\f067";
                font-weight: 900; /* Fix version 5.0.9 */
                transition: transform .3s ease-in-out;
            }

        ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
            content: "\f00c";
            transform: rotate(-360deg);
            transition: transform .3s ease-in-out;
        }

        ul.ks-cboxtags li input[type="checkbox"]:checked + label {
            border: 2px solid lime;
            background-color: rgba(255, 255, 255, .9);
            color: black;
            transition: all .2s;
        }

        ul.ks-cboxtags li input[type="checkbox"] {
            display: absolute;
            opacity: 0;
        }

        ul.ks-cboxtags li input[type="checkbox"] {
            position: absolute;
            opacity: 0;
        }

            ul.ks-cboxtags li input[type="checkbox"]:focus + label {
                border: 2px solid #333333;
            }
#patr {
    color: white;
}
#patr2 {
    color: darkslategrey;
}
#on {
    color: lime;
}
.rounder-border {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}
.leftcolumn {
    float: left;
    width: 40%;
    background-color: #f1f1f1;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 60%;
    background-color: white;
    padding-left: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: lime;
    content: '';
   display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
