@model IEnumerable<Patron.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("phrase")
        <input type="submit" value="Search" />
    </p>
}


@foreach (var item in Model)
{
    <div class="col-xs-3">
        @Html.ActionLink(item.FirstName+" "+item.LastName, "Details", new { id = item.ID }) |

        @Html.DisplayFor(modelItem => item.Avatar)
    </div>
}
