@model Patron.Models.Threshold

@{
    ViewBag.Title = "ConfirmSupport";
}

<h2>
    Zostałeś patronem autora
    @Html.DisplayFor(model => model.Author.FirstName)
    @Html.DisplayFor(model => model.Author.LastName)
</h2>

<div>
    <h4>Gratulacje!</h4>
    <hr />
    <dl class="dl-horizontal">
<p>Próg</p>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dd>
            Miesięcznie:@Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    <a href="https://localhost:44321/Authors/AuthorPage/@(Model.Author.ID)" class="btn btn-default">Powrót </a>

</p>
