        
@{
    ViewBag.Title = "Statystyki płatności";
}

<h2>Statystyki</h2>

<table>
    <tr>
        <th>
            Data
        </th>
        <th>
            Patroni
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Date.ToString("dd MMM yyyy") -  
        </td>
        <td>
- @item.PaymentCount
        </td>
    </tr>
}
</table>