@model Patron.Models.Category

@{
    ViewBag.Title = Model.Name;
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz usunąć tę kategorię?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">


        <h3>
            @Html.DisplayFor(model => model.Name)
        </h3>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" }) | <input type="submit" value="Usuń" class="btn btn-danger" />

    </div>
       
    }
</div>
