@model Patron.Models.Category

@{
    ViewBag.Title = Model.Name;
}

<h4>Kategoria</h4>

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
    </h2>

</div>
<p>
    @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID },  new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
</p>
