@model IEnumerable<Patron.Models.Category>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>
@if (Context.User.IsInRole("Admin"))
{
    <br />
 @Html.ActionLink("Utwórz nową kategorię", "Create",null, new { @class = "btn btn-primary" }) 
<br />
    <hr>
}


    @foreach (var item in Model)
    {
        <div class="col-xs-3">

            <a class="btn btn-default"
               @Html.ActionLink(item.Name, "ShowAuthors", new { id = item.ID })
@if (Context.User.IsInRole("Admin"))
    {
@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) 
     }
        </div>
       
    }

    <br />
    <br />
