@model IEnumerable<Patron.Models.Author>

@{
    ViewBag.Title = "Autorzy";
}

<h2>@ViewBag.Category.Name</h2>

@using (Html.BeginForm())
{

    @Html.TextBox("phrase");

    <input type="submit" value="Search" />

}


@foreach (var item in Model)
{
    <div class="col-xs-3">
        @Html.ActionLink(item.FirstName + " " + item.LastName, "AuthorPage", "Authors", ""+new { id = item.ID }) |

        @Html.DisplayFor(modelItem => item.Avatar)
    </div>
}
